/* Estilos para cada componente */
.container {
  flex-basis: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

/* Estilos para la frase */
.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-grow: 1;
  height: 200px; /* Establecer una altura fija para el componente */
  overflow: auto; /* Agregar una propiedad overflow para que el contenido de la frase no se desborde */
}

.quoteTitle {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.quoteText {
  font-size: 1.2em;
  max-width: 100%;
  margin: 0;
}

.author {
  margin-top: 10px;
  font-style: italic;
}

/* Estilos para los botones */
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el espacio vacío */
.Espacio {
  visibility: hidden;
}
